.uba-init {
    -webkit-user-select: none;
    text-align: left;
    padding: 10px 30px 0;
    .ant-row{
        // margin:20px 0;
    }
    .step-process{
        margin-top: 30px;
    }
    .new-project{
        font-size:20px;
    }
    .select-card{
        text-align: left;
        height: 260px;
        padding-top: 24px;
    }
    .op {
        text-align: center;
        margin-top: 70px;
        .btn {
            margin: 0px 6px;
        }
    }
}