.uba-init {
    -webkit-user-select: none;
    text-align: left;
    padding: 0 30px;
    .ant-row{
        margin:20px 0;
    }
    .new-project{
        font-size:20px;
    }
    .select-card{
        text-align: center;
    }
}