<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Uba-GUI</title>
  <% if (htmlWebpackPlugin.options.isProd) { %>
  <script src="./vendor.js"></script>
  <% } %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
