

.logo {
    height: 32px;
    background:url(../../static/logo.png) no-repeat center center;
    text-align: center;
    line-height: 32px;
    color: #1890ff;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-size: 130px;
}


.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    background: #fff;
}

button {
    -webkit-app-region: no-drag;
  }