.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    background: #fff;
}

button {
    -webkit-app-region: no-drag;
  }